<% layout("/layouts/boilerplate.ejs") %>
  <style>
    #filters {
      display: flex;
      flex-wrap: wrap;
    }
    .filter {
      text-align: center;
      margin-right: 2rem;
      margin-top: 1rem;
      opacity: 0.7;
    }

    .filter:hover{
      opacity: 1;
      cursor: pointer;
    }
    .filter p{
      font-size: 0.8rem;
    }
    .tax-info{
      display: none;
    }
    .tax-toggle{
           border: 0.1px #00000099 solid; 
            background-color: #fff; 
            border-radius: 10px; 
            box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.3); 
            padding: 20px;
           display: flex;
           height: 2.5rem;
           align-items: center;
           margin-left: 1rem;
           margin-top: 0.4rem;
            
      
    }
    
  </style>
    
  <div id="filters">
     <div class="filter">
      <div><i class="fa-solid fa-fire"></i></div>
      <p>Trending</p> 
     </div>
     <div class="filter">
      <div><i class="fa-solid fa-bed"></i></div>
      <p>Rooms</p> 
     </div>
     <div class="filter">
      <div><i class="fa-solid fa-mountain-city"></i></div>
      <p>Iconic City</p> 
     </div>
     <div class="filter">
      <div><i class="fa-solid fa-mountain-sun"></i></div>
      <p>Mountains</p> 
     </div>
     <div class="filter">
      <div><i class="fa-brands fa-fort-awesome"></i></div>
      <p>Castles</p> 
     </div>
     <div class="filter">
      <div><i class="fa-regular fa-snowflake"></i></div>
      <p>Arctic</p> 
     </div>
     <div class="filter">
      <div><i class="fa-solid fa-tents"></i></div>
      <p>Camping</p> 
     </div>
     <div class="filter">
      <div><i class="fa-solid fa-wheat-awn"></i></div>
      <p>Farms</p> 
     </div>
     <div class="filter">
      <div><i class="fa-solid fa-person-swimming"></i></div>
      <p>Amazing Pool</p> 
     </div>
     <div class="filter">
      <div><i class="fa-solid fa-umbrella-beach"></i></div>
      <p>Beach</p> 
     </div>
     <div class="filter">
      <div><i class="fa-solid fa-sailboat"></i></i></div>
      <p>Island</p> 
     </div>
     <div class="filter">
      <div><i class="fa-solid fa-plane-departure"></i></i></i></div>
      <p>Foreign Trip</p> 
     </div>
     
    <div class="tax-toggle ">
      <div class="form-check-reverse form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault">Display total after taxes </label>
      </div>
    </div>
  </div>

    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">

      <% for(let listing of allListings){ %>
        <a href="/listings/<%= listing._id %>" class="listing-link">
        <div class="card col listing-card" >
            <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style="height: 20rem;">

            <div class="card-img-overlay"></div>

            <div class="card-body">
              <p class="card-text">
                <b><%= listing.title %> </b><br>
                &#8377; <%= listing.price.toLocaleString("en-IN") %> / night
                <i class="tax-info">&nbsp; &nbsp; +18% GST</i>
              </p>
            </div>
          </div>
        </a>
          <%}%>
    </div>
<script>
  let taxSwitch = document.getElementById("flexSwitchCheckDefault");
  taxSwitch.addEventListener("click",() => {
    let taxInfo  = document.getElementsByClassName("tax-info") ;
    for(info of taxInfo){
      if(info.style.display !="inline"){
        info.style.display ="inline";
      }else{
        info.style.display ="none";
      }
      
    }
  })
</script>

