<% layout("/layouts/boilerplate.ejs") %>

<div class="row mt-3">
    <h1 class="col-6 offset-3">Login to WanderLust</h1><br><br><br>
    <div class="col-6 offset-3" >
        <form action="/login" method="POST" class="needs-validation" novalidate>
            <div class="mb-3">
                <lable for="username" class="form-label">Username</lable>
                <input type="text" name="username" id="username" class="form-control" required placeholder="Enter username">
                
            </div>
            <div class="mb-3">
                <lable for="password" class="form-label">Password</lable>
                <input type="password" name="password" id="pass" class="form-control" required placeholder="Enter password">
            </div>
            <button class="btn btn-info">Login</button>
        </form>
        
    </div>
</div>